/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.header-icons {
  fill: #fff;
}
.header-icons:hover {
  fill: #fce38a;
}

/**********SERVICE**************/

.ourteam-teamlist__staf_facebook,
.ourteam-teamlist__staf_twitter,
.ourteam-teamlist__staf_instagram,
.ourteam-teamlist__staf_pinterest {
  fill: #f38181;
  background-color: #fce38a;
  padding-top: 25%;
  padding-left: 25%;
  width: 60px;
  height: 60px;

  margin-right: 2px;
}

.ourteam-teamlist__staf_facebook:hover {
  background-color: #f38181;
  fill: #ffffff;
}
.ourteam-teamlist__staf_twitter:hover {
  background-color: #f38181;
  fill: #ffffff;
}
.ourteam-teamlist__staf_pinterest:hover {
  background-color: #f38181;
  fill: #ffffff;
}
.ourteam-teamlist__staf_instagram:hover {
  background-color: #f38181;
  fill: #ffffff;
}

.ourteam-teamlist__team-name {
  text-align: center;
}

.ourteam-teamlist__profession {
  font-family: 'Roboto';
  font-weight: 300;
  color: #999999;
  font-style: italic;
  font-size: 15px;
  text-align: center;
}

/***********footer*****************************/

@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi) {
  .baner {
    background-image: url(..//image/15@2x-min.png);
  }
}
