* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* header and nav menu */
.page-header {
  padding-top: 35px;
}

.logo {
  text-decoration: none;
  color: #95e1d3;
  font-size: 30px;
  font-family: "Montserrat";
  font-weight: 900;
  float: left;
  position: relative;
  bottom: 15px;
}

.navmenu {
  list-style: none;
  margin-bottom: 115px;
}

.navmenu a {
  text-decoration: none;
  text-transform: uppercase;
  float: right;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 500;
  color: #95e1d3;
  margin-left: 55px;
}

.navmenu a:hover {
  color: #f38181;
}
.navmenu a:hover::after {
  content: "";
  width: auto;
  display: block;
  height: 2px;
  background-color: #f38181;
  margin: 5px auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/*section 1*/

.firsthead {
  margin: 0 auto;
  display: block;
  text-align: center;
}
h2 {
  font-size: 24px;
  font-family: "Kaushan script";
  font-weight: 400;
  margin-bottom: 60px;
}
h2::first-letter {
  text-transform: uppercase;
}
h2:last-of-type {
  margin-bottom: 40px;
}

h2::after {
  content: "";
  display: block;
  background-color: #f38181;
  width: 60px;
  height: 2px;
  margin: 40px auto 0;
}
.heading {
  font-family: "Montserrat";
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

h2 span {
  display: block;
  margin-top: 20px;
}

.list-content {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.content {
  flex-basis: 380px;
  padding-left: 80px;
  position: relative;
  padding: 10px;
  padding-left: 80px;
  justify-content: space-between;
}
.content:not(:nth-child(3n)) {
  margin-right: 30px;
}
.content:nth-child(-n + 3) {
  margin-bottom: 100px;
}

.icon {
  position: absolute;
  left: 25px;
  top: 15px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.content h3::before {
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  transform: translateX(-55px);

  position: absolute;
}

#photoicon::before {
  background-image: url(..//images/clock.png);
}

#webicon::before {
  background-image: url(../images/webdisign.png);
}
#creaticon::before {
  background-image: url(../images/creativity.png);
}
#iconseo::before {
  background-image: url(../images/seo.png);
}
#csshtml::before {
  background-image: url(../images/icon-pinterest.png;);
}
#csshtml::before {
  background-image: url(../images/css.png);
}
#digitalicon::before {
  background-image: url(../images/digiral.png);
}

.content p {
  font-size: 50px;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  color: #999999;
}

/*section 2 */

.lorem {
  text-align: center;
  width: 980px;
  margin: 0 auto;
  font-family: "Roboto";
  font-weight: 400;
  color: #999999;
  font-size: 15px;
  margin-bottom: 90px;
}

.team-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 85px;
}
.teamstaf {
  width: 380px;
}
.teamstaf img {
  width: 380px;
  height: 470px;
  object-fit: cover;
  display: block;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  position: absolute;
  opacity: 0;
  z-index: 1;
  background-image: -moz-linear-gradient(
    90deg,
    rgb(252, 227, 138) 0%,
    rgb(243, 129, 129) 100%
  );
  background-image: -webkit-linear-gradient(
    90deg,
    rgb(252, 227, 138, 0.9) 0%,
    rgb(243, 129, 129, 0.9) 100%
  );
  background-image: -ms-linear-gradient(
    90deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 0%
  );
  width: 380px;
  height: 470px;
}

.stafimg:hover {
  transition-duration: 200ms;
  transform: translate(-10px, -10px);
  transition-timing-function: linear;
}
.overlay:hover {
  opacity: 1;
  transition-duration: 200ms;
  transition-timing-function: linear;
  box-shadow: 10px 10px 0 skyblue;
  position: absolute;
}
.teamstaf:not(:nth-child(3n)) {
  margin-right: 30px;
}
.teamstaf h3 {
  margin-top: 30px;
}

.overicon {
  width: 60px;
  height: 60px;
  top: 40%;
  left: 20%;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fce38a;
}
.facebook {
  background-image: url(../images/icon-facebook.png);
}
.twiter {
  background-image: url(../images/icon-twitter.png);
}
.pinterest {
  background-image: url(../images/icon-pinterest.png);
}
.instagram {
  background-image: url(../images/icon-inst.png);
}
.iconhover:not(:nth-child(4n)) {
  margin-right: 1px;
}
.iconhover:hover {
  background-color: #95e1d3;
}

.nameteam {
  text-align: center;
}

.proffesion {
  font-family: "Roboto";
  font-weight: 300;
  color: #999999;
  font-style: italic;
  font-size: 15px;
  text-align: center;
}

/* footer */
.footer {
  display: flex;
  height: 60px;
  border-top: 2px #e5e5e5 solid;
  align-items: center;
  justify-content: space-between;
}

.developers {
  font-family: "Montserrat";
  font-weight: 400;
  color: rgb(51, 51, 51);
  font-size: 14px;
}
.developers a {
  color: #f38181;
  text-decoration: none;
}
.bottom {
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  border: none;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.textform {
  width: 230px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: 1px #e7e7e7 solid;
  font-family: "Roboto";
  font-size: 15px;
  font-style: italic;
  color: black;
  text-align: justify;
  padding-left: 15px;
}
::placeholder {
  font-family: "Roboto";
  font-size: 15px;
  font-style: italic;
  color: #cccccc;
}
