* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Montserat";
  src: url("../fonts/montserrat-v14-latin-regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Montserat";
  src: url("../fonts/montserrat-v14-latin-700.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-v20-latin-300.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-v20-latin-regular.woff2") format("woff2");
  font-weight: 400;
}

.background-image img {
  object-fit: cover;
  width: 100%;
  height: 540px;
}

.container {
  width: 100%;
  max-width: 320px;
  min-width: 320px;
  margin: 0 auto;
}

header {
  position: absolute;
  padding: 20px 70px;
  z-index: 3;
}
.hero {
  position: relative;
  width: 100%;
  height: auto;
}

.login {
  margin-bottom: 110px;
  display: flex;
}
.login button {
  width: 90px;
  height: 35px;
  border-radius: 25px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-family: "montserat";
  font-weight: 700;
  background-color: transparent;
  text-transform: capitalize;
  border-style: none;
}

.log:hover {
  border: 2px #fff solid;
}

.background-image::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 540px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.logo {
  font-family: "Montserat";
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}

h1 {
  font-family: "Montserat";
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding-top: 40px;
  position: absolute;
  z-index: 3;
  top: 175px;
  left: 0;
  width: 100%;
}

.titleheader {
  position: absolute;
  font-size: 18px;
  color: #fff;
  font-family: "roboto", sans-serif;
  font-weight: 300;
  bottom: 200px;
  text-align: center;
  width: 100%;
}
.buttonsearch {
  position: absolute;
  z-index: 3;
  min-width: 250px;
  height: 40px;
  background-color: #ff4e50;
  border-radius: 25px;
  border-style: none;
  color: #fff;
  font-size: 14px;
  font-family: "montserat";
  bottom: 140px;
  margin-left: 10%;
}

/*-----------------user list ---------------*/

.container2 {
  margin-top: 70px;
}

h3 {
  font-size: 22px;
  font-family: "montserat";
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.user img {
  border-radius: 50%;
  margin-bottom: 20px;
}
.user {
  margin: 0 auto;
  width: 220px;
}

.listusers {
  list-style: none;
  text-align: center;
}

h4 {
  color: #333333;
  font-family: "montserat";
  font-weight: 700;
  position: relative;
}

h4::after {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 6px #fff solid;
  position: absolute;
  z-index: 10;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 25px;
  left: 55%;
}
#icon1:after {
  background-image: url(../image/icon-user1.png);
  background-color: #ff4e50;
}

#icon2:after {
  background-color: #ffa507;
  background-image: url(..//image/icon-user2.png);
}
#icon3:after {
  background-color: #1cd7ad;
  background-image: url(..//image/icon-user3.png);
}
#icon4:after {
  background-color: #4e73db;
  background-image: url(..//image/icon-user4.png);
}

.user p {
  font-family: "roboto", sans-serif;
  color: #666666;
  font-size: 14px;
  font-weight: 300;
  margin: 0 auto;
}
.user {
  margin-bottom: 25px;
}

.seeother {
  z-index: 3;
  width: 250px;
  height: 40px;
  background-color: transparent;
  border-radius: 25px;
  border: 2px #ff4e50 solid;
  color: #ff4e50;
  font-size: 14px;
  font-family: "montserat";
  font-weight: 700;
  display: block;
  margin: auto;
  margin-bottom: 60px;
}

@media screen and (min-width: 600px) {
  .container {
    min-width: 768px;
    width: 100%;
    margin: 0 auto;
  }

  #woman1 {
    order: 2;
  }
  #woman2 {
    order: 4;
  }
  #man2 {
    order: 3;
  }

  header {
    width: 660px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: absolute;
    padding: 20px 70px;
    z-index: 3;
  }
  .user:nth-last-child(2n) {
    margin-bottom: 55px;
  }

  h1 {
    font-size: 52px;
    top: 90px;
  }
  h3 {
    margin-bottom: 30px;
  }
  .titleheader {
    font-size: 24px;
    bottom: 225px;
  }

  .listusers {
    width: 530px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }

  .buttonsearch {
    margin-left: 35%;
  }
}

@media screen and (min-width: 940px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }

  header {
    max-width: 940px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: absolute;
    z-index: 3;
  }
  .user {
    margin-bottom: 35px;
  }

  .listusers {
    width: 940px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .buttonsearch {
    margin-left: 40%;
  }
}
