@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600,700|Roboto:300,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 1600px;
}
.page-header {
  height: 90px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}
.maincontain {
  background: #e9f0fd;
  margin: 0;
  padding: 0;
}

.pagenav {
  padding-top: 35px;
  margin-bottom: 40px;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: #555252;
  display: block;
  float: left;
  font-weight: 300;
}

a.logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

.navbar {
  list-style: none;
  width: 600px;
  float: right;
  margin: 0;
  padding: 0;
  margin-top: 7px;
}

.navbar a:hover,
.navbar a:focus {
  color: #1abc9c;
}

.navbar a {
  /*  line-height: 16px;
    display: block;*/
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0101;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.navbar li {
  float: left;
  padding-left: 35px;
}

/*banner*/
.banner {
  display: block;
  margin-bottom: 100px;
  min-height: 600px;
  list-style: none;
  position: relative;
}
.bannerover {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
}

.slideleft {
  width: 105px;
  height: 105px;
  display: block;
  border: none;

  background-image: url(/module-05/images/left.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 15%;
  top: 40%;
}
.hov:hover {
  background-color: #1abc9c;
}
.slidecontent {
  position: absolute;
  display: block;
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  left: 50%;
  top: 50%;
  font-weight: 900;
  font-family: "roboto";
  transform: translateX(-50%) translateY(-100%);
}
.slideright {
  width: 105px;
  height: 105px;
  display: inline-block;
  border: none;
  position: absolute;
  right: 15%;
  top: 40%;
  background-image: url(/module-05/images/right.png);
  background-repeat: no-repeat;
  background-position: center;
}
.banertxt {
  display: inline-block;
  position: absolute;
  font-family: "roboto", serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
  color: #fff;

  left: 26%;
  top: 52%;

  text-align: center;
}

h2.new_collection {
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #515151;
  margin-bottom: 40px;
}

h2::after {
  content: "";
  display: block;
  width: 170px;
  height: 7px;
  background-color: #1abc9c;
  margin: 20px auto 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 95%;
  height: 95%;
  overflow: auto;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0;

  transition: 0.25s ease-out;
  transition-delay: 0.35s;
}
.topimg:hover .overlay {
  opacity: 1;
}

.icon-heart {
  width: 50px;
  height: 50px;
  top: 80px;
  left: 35px;
  display: block;
  outline: 1px #ffffff solid;
  position: absolute;
  background-image: url(/module-05/images/heart.png);
  background-repeat: no-repeat;
  background-position: center;
}
.iconhover:hover {
  background-color: #1abc9c;
}

.icon-arrows {
  width: 50px;
  height: 50px;
  top: 80px;
  left: 95px;
  display: block;
  outline: 1px #ffffff solid;
  position: absolute;
  background-image: url(/module-05/images/arrows.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-clock {
  width: 50px;
  height: 50px;
  top: 80px;
  right: 35px;
  display: block;
  outline: 1px #ffffff solid;
  position: absolute;
  background-image: url(../module-05/images/clock.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-basket {
  width: 172px;
  height: 50px;
  top: 138px;
  left: 35px;
  display: block;
  outline: 1px #ffffff solid;
  position: absolute;
  background-image: url(../module-05/images/basket.png);
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 10px;
  background-color: #323232;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  font-family: "open sans", sans-serif;
  text-align: center;
  padding-left: 35px;
  line-height: 50px;
}

.card-list {
  list-style: none;
}

.topimg {
  width: auto;
  position: relative;
  display: block;
}
.product-name h3 {
  width: 200px;
  float: left;
  background-color: #323232;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 40px;
  font-family: "roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.price {
  float: left;
  font-size: 18px;
  width: 55px;
  height: 40px;
  background-color: #8c8c8c;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  font-family: "roboto", sans-serif;
  font-weight: 600;
}
.catalog-item {
  width: 255px;
  height: 320px;
  float: left;
  margin: 0;
  padding: 0;
  background-color: #e9f0fd;
  margin-bottom: 100px;
}
.catalog-item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.catalog-item:hover h3 {
  background-color: #1abc9c;
}

.catalog-item:hover .price {
  background-color: #7fd9c2;
}

a.topimg:hover::after {
  opacity: 0.5;
  background: rgba(0, 0, 0, 0.5);
}

/* footer --- */

.footer {
  width: 1600px;
  height: 90px;
  background-color: #323232;
  display: inline-block;
}
.footer-text {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 1600px;
  text-align: center;
  line-height: 80px;
}
.nametheme {
  color: #46bfa9;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}
