.main-title {
  position: absolute;
  width: 60%;
  height: 90%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.main-title__title {
  padding-top: 200px;
  font-family: 'kaushan script';
  color: $header-color;
  font-size: 72px;
  margin-bottom: 30px;
}
.main-title__text {
  color: $header-color;
  font-family: 'montserrat';
  font-weight: 700;
  font-size: 150px;
  margin-bottom: 120px;
}

.main-title__button {
  width: 155px;
  height: 40px;
  background-color: transparent;
  border: 2px $header-color solid;
  color: $header-color;
}
