.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  height: 20px;
}
.menu__item:not(:last-child) {
  margin-right: 55px;
}

.menu__item_link {
  text-transform: uppercase;
  font-size: 14px;
  color: $header-color;
  font-family: 'montserrat';
  font-weight: 400;
  text-decoration: none;

  &:hover {
    color: $menu-hover-color;
  }
  &:hover::after {
    color: $menu-hover-color;
    content: '';
    width: auto;
    display: block;
    height: 2px;
    background-color: $menu-hover-color;
    margin: 5px auto;
  }
}
