.ourteam-teamlist {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 85px;
}

.ourteam-teamlist__teamstaf {
  width: 380px;

  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

.ourteam-teamlist__staf {
  width: 380px;
  height: 470px;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  margin-bottom: 25px;

  &:hover {
    -webkit-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
  }
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  position: absolute;
  opacity: 0;
  z-index: 1;
  background-color: rgba(201, 414, 150, 0.5);
  width: 380px;
  height: 470px;

  &:hover {
    opacity: 1;
    -webkit-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-box-shadow: 10px 10px 0 skyblue;
    box-shadow: 10px 10px 0 skyblue;
    position: absolute;
    z-index: 65;
  }
}

.ourteam-teamlist__team-name {
  text-align: center;
}

.ourteam-teamlist__profession {
  font-family: 'Roboto';
  font-weight: 300;
  color: $primary-color-gray;
  font-style: italic;
  font-size: 15px;
  text-align: center;
}

/*-moz-linear-gradient(
  90deg,
  rgb(252, 227, 138) 0%,
  rgb(243, 129, 129) 100%
);
background-image: -webkit-linear-gradient(
  90deg,
  rgba(252, 227, 138, 0.9) 0%,
  rgba(243, 129, 129, 0.9) 100%
);
background-image: -ms-linear-gradient(
  90deg,
  rgba(252, 227, 138, 0.9) 0%,
  rgba(243, 129, 129, 0.9) 100%
);*/
