.container {
  width: 1110px;
  margin: 0 auto;
}

.pagenav {
    margin-top: 35px;
}
.logo {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: #555252;
}
.logo a::first-letter {
  color: #1abc9c;
  font-weight: bold;
}
.navbar {
    list-style: none;
    width: 600px;
    float: right;
    margin: 0;
    padding: 0;
    margin-top: 7px;
}
.navbar a {
  /*  line-height: 16px;
    display: block;*/
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #0f0101;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.navbar li {
    float: left;
    padding-left: 35px;
}
